.profile {
    display:flex; 
    flex-direction: row; 
    justify-content: left; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_text {
    margin-left: 10px
}

.profile_img {
    width: 250px;
    height: 250px;
    border-radius: 12px
}
